.sidebar-container {
  flex: 0.45;
  padding: 32px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  background-color: #1a1e24;
  border-right: 1px solid #2c2f36;
  text-align: left;
  min-width: 0; /* prevents overflow */
}


.sidebar-container h2 {
  font-size: 22px;
}

.Title {
  font-size: 30px;
  font-weight: bold;
  padding: 0px;

}

.spacer-tree {
  content: "❘  ";
  font-size: 30px;
  color: #888;
  margin-right: 15px;
}