 .summarybar-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
} 

.summary-title {
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 20px;
  align-self: center;
  
}

.summarybar-container h2{
  font-family: monospace;
  font-size: 20px;
  color: #cfcfcf;
  align-items: center;
}

.summary-text{
  font-size: 18px;
  font-family: monospace;
}

.summary-leaf.last-branch::before {
  content: "└─ ";
  color: #888;
  font-size: 20px;
  margin-right: 5px;
}

.summary-leaf.last-branch{
  font-family: monospace;
  display: flex;
  align-items: center;
  color: #888;
  font-size: 16px;
}

.rightside-container {
  flex: 0.75;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: #111418;
  border-left: 1px solid #2c2f36;
  min-width: 0;
  
}

