.summarybar-container {
  width: 240px;
  background-color: #111418;
  border-left: 1px solid #2c2f36;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}


.summarybar-container h2{
  font-size: 22px;
  margin-bottom: 10px;
}

