/* Set Defaults */
h3 {
    margin: 0;
}

body, #root {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.categoryname{
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 1.5px;
    border: 1px solid #ccc;
    height: 65px;
    margin-bottom: 2.5px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Left Div */
.prevListContainer{
    display: block;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Right Div */
.summaryContainer{
    display: grid;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

/* Center Div */
.currentPartsContainer{
    display: inline-block;
    max-width: 2000px;
    min-width: 500px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

#inputcon{
    background-color: gray;
    width:300px;
}



.main-header {
    display: flex;
    background-color: #1b1b1b; 
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
}

.logo {
    padding-left: 20px;
    font-size: 1.75rem;
    font-weight: bold;
}

.additem {
    display: flex;
    align-items: center;
}

.partsChoices{
    margin-bottom: 2.5px;
}

.partContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

button {
    flex: 0 0 auto;
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.partData {
    padding: 5px;
}

#itemName {
    flex: 3;
    text-align: left;
}
  
#price {
    flex: 1;
    text-align: right;
}
  
#link {
    flex: 2;
    text-align: center;
}
  
#watt {
    flex: 1;
    text-align: right;
}

/* Buy Button */
.buyItem:hover {
    background-color: #d4d4d4; /* Darker color on hover */
}

/* Add Item */
.addItem:hover {
    background-color: #d4d4d4; /* Darker color on hover */
}

/* Footer */

.footer {
    background-color: #282c34; /* Example color */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed; /* Makes it stick to the bottom */
    bottom: 0;
    width: 100%;
  }

/* Extra 

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 80px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.parts-list .row {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 1.5px;
    border: 1px solid #ccc;
    height: 65px;
    margin-bottom: 2.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.row:hover {
    background-color: #d4d4d4;
}

.row-input {
    width: 60px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
}

.chat-box {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandable-content {
    display: none;
    padding: 5px;
    background-color: #f9f9f9;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 5px;
    animation: pulse 1.5s infinite;
}

.placeholder p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #cccccc;
    }
    100% {
        background-color: #e0e0e0;
    }
} */